xml/src/main/resources/org/enquery/encryptedquery/xml/schema/result-export.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- EncryptedQuery is an open source project allowing user to query databases with queries under homomorphic encryption to securing the query and results set from database owner inspection. 
	Copyright (C) 2018 EnQuery LLC This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free 
	Software Foundation, either version 3 of the License, or (at your option) any later version. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
	without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. You should have received a copy 
	of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>. -->
<xs:schema targetNamespace="http://enquery.net/encryptedquery/result-export" 
	xmlns="http://enquery.net/encryptedquery/result-export"
	xmlns:r="http://enquery.net/encryptedquery/result"
	xmlns:ex="http://enquery.net/encryptedquery/execution"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">


	<xs:annotation>
		<xs:documentation>
			This is the XML format that is generated by Responder for import into the Querier.
			It contains results of one or more Query Executions 
			for offline mode transmission to Querier.
		</xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://enquery.net/encryptedquery/result" schemaLocation="result-resource.xsd" />
	<xs:import namespace="http://enquery.net/encryptedquery/execution" schemaLocation="execution-resource.xsd" />

	<xs:element name="resultExport" type="ResultExport" />

	<xs:complexType name="ResultExport">
		<xs:sequence>
			<xs:element name="item" type="ExecutionWithResults" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="ExecutionWithResults">
		<xs:sequence>
			<xs:element xmlns="http://enquery.net/encryptedquery/execution" ref="ex:executionResource"/>
			<xs:element name = "results" type="ResultCollection" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResultCollection">
		<xs:sequence>
			<xs:element xmlns="http://enquery.net/encryptedquery/result" ref="r:resultResource" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>